@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    line-height: 25px !important;
}

.paper {
    width: 100%;
    height: 98vh;
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px 0px #888;
}

.paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255, 0, 0, 0.4);
}

.lines {
    padding-left: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.text {
    width: 100%;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    font-family: 'Indie Flower';
    overflow-x: none;
    overflow-y: auto;
    outline: none;
}

.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: lightgoldenrodyellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
}

.hole-top {
    top: 10%;
}

.hole-middle {
    top: 50%;
}

.hole-bottom {
    bottom: 10%;
}

pre::-webkit-scrollbar {
    background-color: #3a3a3a;
}

pre::-webkit-scrollbar-thumb {
    background: #f2dede;
    border-radius: 1px;
}

pre {
    overflow-x: auto;
    background: #3a3a3a;
    color: #f2dede;
    padding: 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 8px 0 rgba(193, 66, 66, 0.5);
    box-shadow: 0 0 8px 0 rgba(193, 66, 66, 0.5);

    code {
        background-color: transparent !important;
        border-radius: 0px !important;
        padding: 0 !important;
        color: #f2dede !important;
    }
}

code {
    background-color: #f4f4f4;
    /* Light gray background */
    border-radius: 10px;
    /* Specific styles for the code within the pre tag, if needed */
    /* For example, you might want to adjust padding or color slightly */
    padding: 0 10px;
    /* Remove extra padding if pre already handles it */
    color: #680303;
    /* Slightly lighter color for the code itself */
}